<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- table styling  -->
  <style>
    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 450px;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      word-wrap: break-word;
    }
    th, td {
      padding: 5px;
      text-align: left;

    }
    tr:nth-child(odd) {
      background-color: #F9F9F9;
    }
  </style>
</head>

<body>
  <div class="container-fluid">

    <div class="jumbotron text-center">
      <h1><strong>Mission to Mars</strong></h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p><!-- Render our data -->
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-12"><h2><strong>Latest Mars News</strong></h2></div>
    <div class="col-md-12"><h3><p>{{ mars_info.title }}</p></h3></div>
    <div class="col-md-12"><p>{{ mars_info.paragraph }}</p></div>
  </div>

  <div class="row">
    <div class="col-md-8"><h2><strong>Featured Mars Image</strong></h2>
      <img src= "{{ mars_info.featured_image }}" class="img-responsive" alt="Featured Mars Image"></div>
    <div class="col-md-4">
      <div class="table">
        <h3><strong>Mars Facts</strong></h3>
        <p>{{ mars_info.table | safe}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12"><h2 class="text-center"><strong>Mars Hemispheres</strong></h2><hr></div>
    <div class="card">
      {% for image in mars_info.hemisphere_image_urls %}
      <div class="col-md-3">
        <img class="thumbnail" src="{{ image.img_url }}" width="100%" alt=" {{ image.title }}">
        <div class="card-body">
          <h4 class="card-title"> {{ image.title }}</h4>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
    



</body>

</html>